<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="app">

        <div class="header">
            <a href="/">Home</a>
            <a href="/course">Course</a>
        </div>

        {{{body}}}

    </div>

</body>
</html>