<html>
  <head>
    <meta charset="utf-8" />
    <title>Learn Express</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <div class="app">

      <div class="header">
        <div class="nav">
          <a href="/">Home</a>
          <a href="/products">Products</a>
          <a href="/products/create">Create</a>
        </div>
        <form class="header-input" method="POST" action="/products/find">
          <input
            id="search"
            name="search"
            type="text"
            placeholder="Search..."
            autocomplete="off"
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="container">
        <div class="row">

          {{{body}}}
        </div>
      </div>

    </div>

  </body>
</html>